<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://assets-cdn.github.com">
    <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
    <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
    <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">

    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-c9193575f18b28be82c0a963e144ff6fa7a809dd8ae003a1d1e5979bed3f7f00.css" integrity="sha256-yRk1dfGLKL6CwKlj4UT/b6eoCd2K4AOh0eWXm+0/fwA=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-9ed815ea772b21ac723e5af484a801e4529591a0abda03969434dc16af6ecf16.css" integrity="sha256-ntgV6ncrIaxyPlr0hKgB5FKVkaCr2gOWlDTcFq9uzxY=" media="all" rel="stylesheet" />

    <meta name="viewport" content="width=device-width">

    <title>text/default.html at gh-pages · yoshikyoto/text</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
    <meta property="fb:app_id" content="1401488693436528">

    <meta content="https://avatars2.githubusercontent.com/u/5354310?s=400&amp;v=4"
      property="og:image" />
    <meta content="GitHub" property="og:site_name" />
    <meta content="object" property="og:type" />
    <meta content="yoshikyoto/text" property="og:title" />
    <meta content="https://github.com/yoshikyoto/text" property="og:url" />
    <meta content="Contribute to text development by creating an account on GitHub."
      property="og:description" />

    <link rel="assets" href="https://assets-cdn.github.com/">
    <link rel="web-socket" href="wss://live.github.com/_sockets/VjI6MjIwMTMyNDAwOjU2MjI5MjhjNzkzYWYwY2Q1MGY1OWY3MWExZDcyYTA1ZDkzMGVhZmRmYTg0YzJiODM1OWQ3OGQ5ZGZlZWU3ZDQ=--0171e39427222d77851b181ed2ad25b5c4e2ebda">
    <meta name="pjax-timeout" content="1000">
    <link rel="sudo-modal" href="/sessions/sudo_modal">
    <meta name="request-id" content="C918:9510:25004FC:37F3C37:5A2152FB" data-pjax-transient>
    <meta name="selected-link" value="repo_source" data-pjax-transient>

    <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
    <meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
    <meta name="google-site-verification" content="GXs5KoUUkNCoaAZn7wPN-t01Pywp9M3sEjnt_3_ZWPc">
    <meta name="google-analytics" content="UA-3769691-2">

    <meta content="collector.githubapp.com" name="octolytics-host" />
    <meta content="github" name="octolytics-app-id" />
    <meta content="https://collector.githubapp.com/github-external/browser_event"
        name="octolytics-event-url" />
    <meta content="C918:9510:25004FC:37F3C37:5A2152FB" name="octolytics-dimension-request_id" />
    <meta content="sea" name="octolytics-dimension-region_edge" />
    <meta content="iad" name="octolytics-dimension-region_render" />
    <meta content="29834612" name="octolytics-actor-id" />
    <meta content="mshinoda88" name="octolytics-actor-login" />
    <meta content="fa7775a249fdbd9a041edf4179972d3f27503c0fa66cf28c5a266c52c082b3b4"
        name="octolytics-actor-hash" />
    <meta content="/&lt;user-name&gt;/&lt;repo-name&gt;/blob/show"
        data-pjax-transient="true" name="analytics-location" />




    <meta class="js-ga-set" name="dimension1" content="Logged In">




        <meta name="hostname" content="github.com">
    <meta name="user-login" content="mshinoda88">

        <meta name="expected-hostname" content="github.com">
      <meta name="js-proxy-site-detection-payload" content="MmZhYzNjNmU4YTBlOWZmNDcxZDU4NWYyOWFiMWNkMzM4MGQ0NGU3NjYzNTc3YzA4YzQ2Zjg1MGE5ZDVhOGVhZnx7InJlbW90ZV9hZGRyZXNzIjoiNDkuMTA2LjIxMy4yNDgiLCJyZXF1ZXN0X2lkIjoiQzkxODo5NTEwOjI1MDA0RkM6MzdGM0MzNzo1QTIxNTJGQiIsInRpbWVzdGFtcCI6MTUxMjEzMzM3NSwiaG9zdCI6ImdpdGh1Yi5jb20ifQ==">

      <meta name="enabled-features" content="UNIVERSE_BANNER,FREE_TRIALS">

    <meta name="html-safe-nonce" content="4d754e80741e10cdb21cf952fa23dad8fa6a63b6">

    <meta http-equiv="x-pjax-version" content="60558c2099e97248f156d9fa04571cd1">


        <link href="https://github.com/yoshikyoto/text/commits/gh-pages.atom" rel="alternate" title="Recent Commits to text:gh-pages" type="application/atom+xml">

    <meta name="description" content="Contribute to text development by creating an account on GitHub.">
    <meta name="go-import" content="github.com/yoshikyoto/text git https://github.com/yoshikyoto/text.git">

    <meta content="5354310" name="octolytics-dimension-user_id" /><meta content="yoshikyoto" name="octolytics-dimension-user_login" /><meta content="40900659" name="octolytics-dimension-repository_id" /><meta content="yoshikyoto/text" name="octolytics-dimension-repository_nwo" /><meta content="true" name="octolytics-dimension-repository_public" /><meta content="false" name="octolytics-dimension-repository_is_fork" /><meta content="40900659" name="octolytics-dimension-repository_network_root_id" /><meta content="yoshikyoto/text" name="octolytics-dimension-repository_network_root_nwo" /><meta content="false" name="octolytics-dimension-repository_explore_github_marketplace_ci_cta_shown" />


      <link rel="canonical" href="https://github.com/yoshikyoto/text/blob/gh-pages/_layouts/default.html" data-pjax-transient>


    <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">

    <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">

    <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">

    <meta name="theme-color" content="#1e2327">
    <meta name="u2f-support" content="true">
  </head>

<body class="logged-in env-production emoji-size-boost page-blob">

  <div class="position-relative js-header-wrapper ">
    <a href="#start-of-content" tabindex="1"
        class="bg-black text-white p-3 show-on-focus js-skip-to-content">Skip to content</a>
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress"></div>
  </div>

</body>
</html>
